.titulo{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 32pt;
    color: white;
}
body{
    background-color: rgb(30, 0, 58);
}
.contenedor{
    display: grid;
    
    text-align: center;
    
    
    
}
.cont{
    margin: 2%;

    
}
img{
    width: 20%;
}
h2{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14pt;
    color: white;
}
.buena{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12pt;
    color: rgb(51, 255, 0);
}
.media{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12pt;
    color: rgb(233, 217, 0);
}
.mala{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12pt;
    color: rgb(214, 0, 0);
}